<%- include('partials/_header.ejs') %>

<p>Happy meals for every family member</p>

<a class="button primary" href="/users/sign-up">Sign-up</a>
<a class="button" href="/users/sign-in">Sign-in</a>

<%- include('partials/_footer.ejs') %>