<%- include('partials/_header.ejs') %>

<% if (!user) { %>
    <a class="button primary" href="/users/sign-up">Sign-up</a>
    <a class="button" href="/users/sign-in">Sign-in</a>
<% } %>

<ul>
    <li>Join or start a family</li>
    <li>Add your favorite dishes</li>
    <li>Plan the week's meals</li>
    <li>Share the plan</li>
    <li>Get feedback from family members</li>
    <li>Use your plan to get all ingredients</li>
</ul>

<%- include('partials/_footer.ejs') %>