<%- include('../partials/_header.ejs') %>

<main>
    <div class="title"><h2>Add a dish</h2></div>
    <div class="datalist">
        <form id="newDishForm" action="/dishes/" method="post">
            <div class="display-row">
                <label for "name">Name</label>
                <input name="name" id="name" type="text" placeholder="Spaghetti Carbonara" required>
            </div>
            <div class="display-row">
                <label for "minutes">Prep</label>
                <input name="minutes" id="minutes" type="number" min="1" placeholder="20">
                <label class="unitOfMeasurement">minutes</label>
            </div>
            <div class="display-row">
                <label for "ingredients">Ingredients</label>
                <input name="ingredients" id="ingredients" type="text" placeholder="spaghetti, egg yolks, guanciale, pecorino romano">    
            </div>
            <div class="display-row">
                <label for "recipe">Recipe link</label>
                <input name="recipe" id="recipe" type="url" placeholder="http://www.italian-food.com/123">
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="button primary" type="submit" form="newDishForm">Save dish</button>
        <a href="/dishes" class="button">Discard changes</a>
        <a href="/dishes" class="button disabled">Get inspired ˙✦</a>
    </div>
</main>



<%- include('../partials/_footer.ejs') %>