/* Class button ... */

h1 {
    font-family: var(--font-header);
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}

p {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text-primary);
}