/* Class button ... */

main {
    max-width: 600px;
}

form {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

form label, input {
    margin-bottom: .5rem;
}

form button {
    display: block;
    margin-top: .5rem;
}

.highlight {
    background-color: var(--color-primary);
}