header {
    background-color: var(--color-background);
    text-align: center;
    padding-bottom: 2rem;
}

header h1 {
    font-family: var(--font-header);
    color: var(--color-on-primary);  
    text-align: center; 
    padding: 0;
    margin: 0;
}

header hr {
    border: none;
    height: 1px;
    background-color: var(--color-on-primary);
    width: 60%;

}

header nav {
    font-family: var(--font-body);
    align-items: center;
    padding: 0;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0;
    justify-content: center;
}

header nav li {
    list-style-type: none;
    padding: .25rem;
    border-radius: 4px;
}

header nav a {
    text-decoration: none;
    color: var(--color-text-primary);
}

header nav li.active {
    background-color: var(--color-primary);
}

header nav a.disabled {
    color: var(--color-text-secondary);
    pointer-events: none;
    cursor: default;
}