header {
    background-color: var(--color-background);
    text-align: center;
    padding-bottom: 1rem;
}

header h1 {
    font-family: var(--font-header);
    font-size: 2.5rem;
    color: var(--color-on-primary);  
    text-align: center; 
    padding: 0;
    margin: 0;
}

header hr {
    border: none;
    height: 1px;
    background-color: var(--color-on-primary);
    width: 60%;
}

header nav {
    font-family: var(--font-body);
    align-items: center;
    padding: 0;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    margin: 0.25rem;
    justify-content: center;
}

header nav li {
    list-style-type: none;
    border: 1px solid var(--color-border);
    border-radius: 100px;
    padding: .5rem 1rem;
    margin: .25rem;
}

header nav a {
    text-decoration: none;
    color: var(--color-text-primary);
}

header nav li.active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

header nav li.disabled {
    color: var(--color-text-secondary);
    pointer-events: none;
    cursor: none;
    border-color: transparent;
}