header {
   text-align: center;

}

header h1 {
    font-family: var(--font-header);
    color: var(--color-text-primary);
    border-radius: 10px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

header nav li {
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: var(--color-text-primary);
}