/* General */

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h2 {
    font-size: 1.25rem;
    font-weight: normal;
}



main .datalist, .overview {
    padding:  .5rem;
    background-color: var(--color-surface);
    border-radius: .25rem;
    font-size: 1rem;
}

/* Editors */

main .display-row {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
    min-width: 0;
}

main fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

main label {
    flex: 0 0 5rem;
    text-align: left;
    margin-right: 1rem;
}

main label.unitOfMeasurement {
    width: auto;
    margin: 0 0 0 .5rem;
    text-align: left;
}

main input, select {
    flex: 1;
    flex: 1 1 auto;
    min-width: 0;
    padding: .5rem;
    border: 1px solid var(--color-border);
}

main input[disabled] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Index Overviews */

main .overview .item {
    width: 100%;
    min-width: 0;
    margin: 0.25rem;
    flex: 1 1 0;
}

main .overview .item p {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.25rem 0;
}

main .overview .item a {
    color: inherit;
}

main .subheader {
    font-family: var(--font-header);
    font-size: larger;
    margin-top: 2rem;
}

main hr {
    width: 50%
}

/* homepage */

main ul {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    margin: 0.25rem;
    justify-content: center;
}

main li {
    list-style-type: none;

    margin: .25rem;
}

/* Buttons and Links */

main .actions {
    padding: 1rem 0;
}

main a {
    text-decoration: none;
}

main .button {
    display: inline-block;
    font-size: 1rem;
    color: var(--color-text-primary);
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 100px;
    padding: .5rem 2rem;
    margin: .25rem;
    width: 66%;
    cursor: pointer;
}

main .primary {
    background-color: var(--color-primary);
}

main .button.small {
    flex: 0 0 auto;
    margin: 0 .5rem 0 0 0;
    width: auto;
}

main .disabled {
    color: var(--color-text-secondary);
    pointer-events: none;
    cursor: none;
    border: none;
}

main .confirmation {
    background-color: var(--color-warning);
    color: var(--color-on-warning);
}