#message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  animation: fadeOutDown .5s ease-in forwards;
  animation-delay: 2s;
  z-index: 1000;
}

@keyframes fadeOutDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

#message.success {
  background: var(--color-success);
  color: var(--color-on-success);
}

#message.warning {
  background: var(--color-warning);
  color: var(--color-on-warning);
}

#message.info {
  background: var(--color-info);
  color: var(--color-on-info);
}