<%- include('../partials/_header.ejs') %>

<main>
    <p>You are signed out</p>
    <div class="actions">
        <a class="button" href="/users/sign-in">Sign-in</a>
        <a class="button" href="/">Home</a>
    </div>
</main>

<%- include('../partials/_footer.ejs') %>