<%- include('../partials/_header.ejs') %>

<main>
    <form id="sign-up" action="/users/sign-up" method="post">
        <label for "username">Name</label><input name="username" id="username" type="text">
        <label for "password">Password</label><input name="password" id="password" type="password">
        <label for "email">Email</label><input name="email" id="email" type="email">
        <!-- Family code is not implemented yet -->
        <label for "family-code">Family Code</label><input name="family-code" id="family-code" type="text" disabled>
        <button type="submit" class="button primary">Sign-up</button>
    </form>

    <a class="button" href="/users/sign-in">Sign-in</a>
    <a class="button" href="/">Home</a>
</main>

<%- include('../partials/_footer.ejs') %>